* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;

    display: flex;
    flex-direction: column;
    text-align: center;
    

    background-color: #2b2d42;
    color: #edf2f4;
}

.avatarImg {
    border-radius: 50%;
    width: 25%;
}

#inputSearch, 
#searchButton,
#cleanButton {
    background-color: #2b2d42;
    color: #edf2f4;
}

#inputFilter,
#button-addon2 {
    margin-top: 15px;
    background-color: #2b2d42;
    color: #edf2f4;
}

#searchButton:hover ,
#cleanButton:hover ,
#button-addon2:hover  {
    background-color: #edf2f4;
    color: #2b2d42;
}
.user {
    margin-top: 20px;
    margin-bottom: 20px;
}

.avatarImgUser {
    width: 20%;
    border-radius: 50%;
}
p {
    margin-bottom: 0;
}

.followers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.follower {
    border: 2px solid #8d99ae;
    text-align: center;
    padding-block: 10px;
}

.logo {
    margin-bottom: 20px;
    border-radius: 50%;
    width: 10%;    
}